<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Stuff</title>
</head>
<body>
    <h1>Upload Files</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <button type="submit" name="action" value="upload">Upload</button>
    </form>
    
    <br>
    <br>
    {% if filename %}
        <img src="{{ url_for('static', filename=filename) }}" height="200">
    {% endif %}
    <br>
    <br>

    <form action="/start" method="POST">
        <button type="submit">Start OCR</button>
    </form>

    <br>
    <br>

    <label for="output-box">Output results:</label><br>
        <textarea id="output-box" rows="10" cols="80">
            {{ status_message if status_message else 'No data yet...' }}
        </textarea>

</body>
</html>