<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Stuff</title>
</head>
<body>
    <h1>Upload Files</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <button type="submit">Upload</button>
    </form>

    <img height="400">
    <br>

    <form action="/start" method="post">
        <button type="submit">Start</button>
    </form>
    

    <form>
        <p></p>
        <output>fwadfadawd</output>
    </form>

    <script>
        function start(){
            console.log("started");
        }
    </script>
</body>
</html>